### Kotlin ###
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

### Gradle ###
.gradle/
**/build/
!**/src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea/
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Sistema Operacional ###
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk